@import 'animations/fade';
@import 'animations/flip';
@import 'animations/pulse';
@import 'animations/zoom';
@import 'animations/rotation';
@import 'animations/easing-types';

.mo, .mo-in{
  
}

&.mo-in{
	&.mo-200{ transition-delay: 0.2s; }
	&.mo-300{ transition-delay: 0.3s; }
	&.mo-400{ transition-delay: 0.4s; }
	&.mo-500{ transition-delay: 0.5s; }
	&.mo-800{ transition-delay: 0.8s; }
	&.mo-900{ transition-delay: 0.9s; }
	&.mo-1000{ transition-delay: 1s; }
	&.mo-2000{ transition-delay: 2s; }
}

